:root {

	--main-pop-color: #7293A0;
	--main-black-color: #373F51;
	--main-white-color: #FFFFFA;
	--off-white-color: #D8DBE2;
	--hover-color: #A9BCD0; 

  }

* {
	font-family: 'Arvo', serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

html {
	font: 14px normal Arial, sans-serif;
}

body {
	/* padding: 60px; */
	text-align: center;
	min-height: 100%;
	display:flex; 
	flex-direction:column; 
}

ul {
	list-style: none;
	display: inline-block;
}

p {
	padding-top: 15px;
	font-size: 12px;
}

ul li {
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	color: var(--main-black-color);
	transition: 0.3s;
}

@media only screen and (min-width: 900px) {
	ul li:hover {
		padding: 10px 120px;
	}
  }

  ul li:hover {
	background-color: var(--hover-color);
	color: var(--main-white-color);
}

ul li.project {
	display: block;
	background-color: var(--off-white-color);
	color: var(--main-white-color);
	transition: 0.3s;
}

ul li.project h1 {
	display: block;
	padding: 10px 20px;
	cursor: pointer;
	color: var(--main-black-color);
	transition: 0.3s;
}

ul li.project:hover {
	background-color:  var(--main-pop-color);;
	color: var(--main-white-color);
	text-decoration: none;
}

ul li.project:hover h1 {
	color: var(--main-white-color);
	text-decoration: none;
}

.active li {
	background-color:   var(--main-pop-color);
	color: var(--main-white-color);
}

.active li:hover {
	background-color:   var(--main-pop-color);
	color: var(--main-white-color);
}

.header-body {
	padding: 40px 0 0 0;
}
ul.header {
	background-color: var(--off-white-color);
	font-weight: bold;
	font-size: 28px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
}


ul.header li a {
	color: var(--main-white-color);
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	display: inline-block;
}

.heartStyle {
	width: 2.5em;
	height: 2.5em;
}



ul li.blogEntry {
	margin: 0 0 25px 0;
	border-radius: 15px;
	display: block;
	padding: 20px 80px;
	max-width: 800px;
	cursor: pointer;
	background-color: var(--off-white-color);
	color: var(--main-black-color);
	transition: 0.3s;
}



.blogTitle {
	font-weight: bold;
	font-size: 24px;
	align-self: center;
	font-family: 'Josefin Sans', sans-serif;
}

.blogDate {
	display: flex;
	flex-direction: column;
	align-self: baseline;
	width: 7em;
}

ul li.contactEntry {
	margin: 0 0 25px 0;
	display: block;
	padding: 20px 80px;
	cursor: pointer;
	background-color: var(--off-white-color);
	color: var(--main-black-color);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.3s;
	display: flex;
}

ul li.contactEntry:hover {
	background-color: var(--hover-color);
	color: var(--main-white-color);
}

.contactTitle {
	flex: 1;
	flex-direction: column;
	align-self: baseline;
	width: 5em;
	padding: 0 2em 0 0;
}

.contactNode {
	width: 50px;
	height: 50px;
}

.flexcontainer {
	display: flex;
	text-align: left;
}

.titleText {
	font-size: 36px;
	font-family: 'Raleway', cursive;
}

.flex-item {
	margin-left: auto;
	order: 2;
}

.blogText {
	text-align: left;
	font-size: 24px;
	font-family: 'Raleway', cursive;
}

.contextText {
	text-align: center;
	font-size: 24px;
}

@media only screen and (max-width: 600px) {
	.blogText {
		font-size: 16px;
	}
	ul li.blogEntry {
		max-width: 400px;
		padding: 20px;
	}
	ul li.contactEntry {
		padding: 10px;
	}
	body {
		padding: 30px;
	}
}


.comicImage {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

body, html {
	height: 100%;
	margin: 0px;
}

.content {
	padding: 20px;
  }

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-body {
    flex-grow: 1;
}

.footer {
	flex-shrink: 0;
	background-color: rgb(75, 70, 74);
	color: #fff;
	padding: 20px;
}

.contact-content {
	padding: 20px;
}
